<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Admin Page</title>
</head>
<body>
    Welcome <%= firstName %>
    <a href="/signout">Sign Out</a>
    <div>
        <a href="">Create election</a>
        <a href="/admin/addVoter">Register voter</a>
    </div>
</body>
</html>