<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create Election</title>
</head>
<body>
    <div class="grid grid-cols-6 py-3">
        <div class="col-start-3 col-span-2">
            <div >
                Create an Election
            </div>
            <form action="/election/createElection" method="post">
                <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                <div class="py-2">
                    <label for="electionName">Election Name</label>
                    <input type="text" name="electionName" placeholder="Election name" class="border border-grey-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div>
                    <label for="publicUrl">Public URL</label>
                    <input type="text" name="publicUrl" class="border border-grey-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-2">
                    <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded py-2 px-3">
                        Create
                    </button>
                </div>
                <div>
                    <% if (messages && messages.error && messages.error.length > 0) { %>
                        <% for(var i=0; i<messages.error.length; i++) { %>
                            <p class="text-red-700"><%= messages.error[i] %></p>
                        <% } %>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</body>
</html>