<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home Page</title>
</head>
<body>
    <div class="grid grid-cols-5">
        <div class="col-start-3 col-span-2">
            <p>Welcome to Online Voting Platform</p>
            <p>Sign Up as Administrator? <a href="/admin-signup"> Sign Up</a></p>
            <p><a href="/login">Login</a></p>
        </div>    
    </div>
</body>
</html>